$color-palette: (
  // Primary
  // - Orange
  pr-1: #431407,
  pr-2: #7c2d12,
  pr-3: #9a3412,
  pr-4: #c2410c,
  pr-5: #ea580c,
  pr-6: #f97316,
  pr-7: #fb923c,
  pr-8: #fdba74,
  pr-9: #fed7aa,
  pr-10: #ffedd5,
  pr-11: #fff7ed,

  // Neutrals
  // - Gray
  nt-1: #030712,
  nt-2: #111827,
  nt-3: #1f2937,
  nt-4: #374151,
  nt-5: #4b5563,
  nt-6: #6b7280,
  nt-7: #9ca3af,
  nt-8: #d1d5db,
  nt-9: #e5e7eb,
  nt-10: #f3f4f6,
  nt-11: #f9fafb,
  nt-12: #fff,

  // Supporting
  // - Red
  sp-red-1: #450a0a,
  sp-red-2: #7f1d1d,
  sp-red-3: #991b1b,
  sp-red-4: #b91c1c,
  sp-red-5: #dc2626,
  sp-red-6: #ef4444,
  sp-red-7: #f87171,
  sp-red-8: #fca5a5,
  sp-red-9: #fecaca,
  sp-red-10: #fee2e2,
  sp-red-11: #fef2f2,

  // - Yellow
  sp-ylw-1: #422006,
  sp-ylw-2: #713f12,
  sp-ylw-3: #854d0e,
  sp-ylw-4: #a16207,
  sp-ylw-5: #ca8a04,
  sp-ylw-6: #eab308,
  sp-ylw-7: #facc15,
  sp-ylw-8: #fde047,
  sp-ylw-9: #fef08a,
  sp-ylw-10: #fef9c3,
  sp-ylw-11: #fefce8,

  // - Blue
  sp-ble-1: #172554,
  sp-ble-2: #1e3a8a,
  sp-ble-3: #1e40af,
  sp-ble-4: #1d4ed8,
  sp-ble-5: #2563eb,
  sp-ble-6: #3b82f6,
  sp-ble-7: #60a5fa,
  sp-ble-8: #93c5fd,
  sp-ble-9: #bfdbfe,
  sp-ble-10: #dbeafe,
  sp-ble-11: #eff6ff,

  // - Green
  sp-grn-1: #052e16,
  sp-grn-2: #14532d,
  sp-grn-3: #166534,
  sp-grn-4: #15803d,
  sp-grn-5: #16a34a,
  sp-grn-6: #22c55e,
  sp-grn-7: #4ade80,
  sp-grn-8: #86efac,
  sp-grn-9: #bbf7d0,
  sp-grn-10: #dcfce7,
  sp-grn-11: #f0fdf4
);
